/DataStructures.sln.ide
.vs/config/applicationhost.config
.vs/DataStructures/v14/.suo
DataStructures.sln
DataStructures.v14.suo
*.map
DataStructures/bin/DataStructures.dll
DataStructures/bin/DataStructures.pdb
DataStructures/bin/DataStructures.dll.config
*.ts
DataStructures/DataStructures.csproj
DataStructures/DataStructures.csproj.user
DataStructures/obj/Debug/DataStructures.csproj.FileListAbsolute.txt
DataStructures/obj/Debug/DataStructures.csprojResolveAssemblyReference.cache
DataStructures/obj/Debug/DataStructures.dll
DataStructures/obj/Debug/DataStructures.pdb
DataStructures/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cs
DataStructures/web.config
DataStructures/web.Debug.config
DataStructures/web.Release.config