*.map
*.dll
bin/DataStructures.dll.config
*.pdb
*.ts
*.csproj
DataStructures.csproj.user
obj/Debug/DataStructures.csproj.FileListAbsolute.txt
*.cache
*.cs
web.config
web.Debug.config
web.Release.config